In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor,plot_tree
from sklearn.metrics import mean_squared_error

In [2]:
file_path = "car_price_prediction_.csv"
df = pd.read_csv(file_path)
df.head()

   Car ID  Brand  Year  Engine Size  ... Mileage Condition     Price     Model
0       1  Tesla  2016          2.3  ...  114832       New  26613.92   Model X
1       2    BMW  2018          4.4  ...  143190      Used  14679.61  5 Series
2       3   Audi  2013          4.5  ...  181601       New  44402.61        A4
3       4  Tesla  2011          4.1  ...   68682       New  86374.33   Model Y
4       5   Ford  2009          2.6  ...  223009  Like New  73577.10   Mustang

[5 rows x 10 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car ID        2500 non-null   int64
 1   Brand         2500 non-null   object
 2   Year          2500 non-null   int64
 3   Engine Size   2500 non-null   float64
 4   Fuel Type     2500 non-null   object
 5   Transmission  2500 non-null   object
 6   Mileage       2500 non-null   int64
 7   Condition     2500 non-null   object
 8   Price         2500 non-null   float64
 9   Model         2500 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 195.4+ KB